:root {
    --primary-background: #f3f3f3;
    --secondary-color: #007ec3;
}

.teste {
    background-color: var(--secondary-color);
}

body {
    display: block !important;
}

.home__text {
    color: blue;
}

.project {
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: sans-serif;
    padding: 0.4em 0.8em;
    margin: 1em 0;
}